@{
    ViewData["Title"] = "Vehicle";
    var vehicle = (Vehicle)ViewData["Vehicle"];
}

<div class="text-center">
    <h1 class="display-4">UpdateForm</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form action="/Vehicle/Update/@vehicle.Id" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" maxlength="255" required value="@vehicle.Name">
        <br>
        <label for="year">Year:</label>
        <input type="number" id="year" name="year" min="0" max="9999" required value="@vehicle.Year">
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
